.liked-videos {
  font-family: 'Bebas Neue', cursive;
  width: 100%;
}

.liked-videos > h3 {
  color: var(--gray-50);
  text-align: center;
  margin: 1rem 0 .5rem 0;
  font-size: 2rem;
}

.likedVideos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 10.2vh;
}

@media (min-width: 600px) {
  .liked-videos {
    margin-left: 7vw;
    width: 100%;
  }

  .likedVideos-container {
    width: 100%;
  }
}
