.sideMenu {
  background-color: var(--gray-1000);
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sideMenu > a {
  color: var(--gray-50);
  font-size: 1.4rem;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: .1em;
}

.sideMenu > a:hover {
  color: var(--teal-600);
}

.sideMenu > a > span {
  display: none;
}

.sideMenu > a > svg {
  font-size: 3rem;
  font-weight: 700;
}

@media (min-width: 600px) {
  .sideMenu {
    position: fixed;
    height: 100%;
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem 0.5rem;
    border-right: 1px solid lightgray;
  }

  .sideMenu > a {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
  }

  .sideMenu > a:hover {
    /* background-color: var(--teal-50); */
    font-weight: 700;
    color: var(--teal-600);
  }

  .sideMenu > a > span {
    display: block;
  }

  .sideMenu > a > svg {
    font-size: 1.7rem;
    font-weight: 700;
  }
}

@media (max-width: 600px) {
  .sideMenu {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999;
  }
}
