.sideMenu {
  background-color: var(--gray-1000);
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sideMenu > a {
  color: var(--gray-50);
  font-size: 1.4rem;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: .1em;
}

.sideMenu > a:hover {
  color: var(--teal-600);
}

.sideMenu > a > span {
  display: none;
}

.sideMenu > a > svg {
  font-size: 3rem;
  font-weight: 700;
}

@media (min-width: 600px) {
  .sideMenu {
    position: fixed;
    height: 100%;
    width: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem 1rem;
    border-right: 1px solid var(--teal-400);
  }

  .sideMenu > a {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
  }

  .sideMenu > a:hover {
    background-color: var(--gray-50);
    font-weight: 000;
    color: var(--teal-600);
  }

  .sideMenu > a > svg {
    font-size: 2rem;
    font-weight: 700;
  }
}

@media (max-width: 600px) {
  .sideMenu {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999;
  }
}
