.app {
  height: 100vh;
  overflow: auto;
}

.main-container {
  margin-top: 12vh;
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 600px) {
  .main-container {
    flex-direction: row;
    /* height: 88vh; */
    margin-top: 12vh;
  }
}
