@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --gray-50: #f9fafb;
  --gray-200: #e5e7eb;
  --gray-400: #9ca3af;
  --gray-900: #0f172a;
  --gray-1000: #040f2a;
  --zinc-300: #d4d4d8;
  --cyan-400: #22d3ee;
  --teal-600: #059669;
  --teal-400: rgb(54, 211, 153);
  --teal-300: rgb(110, 231, 183);
  --teal-50: #ecfdf5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--gray-1000);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--gray-50);
  text-transform: uppercase;
  /* all: unset; */
}

ul {
  list-style-type: none;
}


.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

align-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

@media (min-width: 600px) {
  html {
    font-size: 100%;
  }
}
